# TASK #1: UNDERSTAND VARIABLES ASSIGNMENT

In [4]:
# Define a variable named "x" and assign a number (integer) to it
# integer is a whole number (no decimals) that could be positive or negative
x = 250
x

250

In [5]:
# Let's view "x"
x

250

In [6]:
# Define a variable named "y" and assign a number (float) to it
# Float are real numbers with a decimal point dividing the integer and fractional parts
y = 500.5

In [7]:
# Let's view "y"
y

500.5

In [9]:
# Let's overwrite "y" (assume your portfolio value increased)
y = 300.5

In [10]:
# Notice that "y" will only contain the most recent value
y

300.5

In [11]:
# Get the type of "x" which is integer
# integer is a whole number (no decimals) that could be positive or negative
type(x)

int

In [12]:
# Get the type of "y" which is float
# Float are real numbers with a decimal point dividing the integer and fractional parts
type(y)

float

MINI CHALLENGE #1:
- We defined a variable x and we assigned these 4 values listed below to it. Without executing any code cells, what will these lines of code generate?
- Verify your answer by executing the code cells



```
z = 1000
z = 2000
z = 5000
z = 6000
z
```

In [13]:
# I expect that z will be 6000

z = 1000
z = 2000
z = 5000
z = 6000
z

6000

# TASK #2: PERFORM MATH OPERATIONS IN PYTHON

In [1]:
# Define a variable named i and initialize it with 20 
# Let's assume that we want to increment the value by 4 
i = 20 
i = i + 4 
i

24

In [2]:
# Let's assume that you own a little grocery store 
# The price of 1 bottle of milk is $3 and we currently have 50 bottles
# We can calculate the total dollar value of our inventory as follows:
count = 50
price = 3
inventory = count * price 
inventory

150

In [4]:
# Let's assume you have $550 USD in our bank account
# We want to buy x number of IBM stocks using the total amount 
# each IBM stock is priced at $128 each

account_balance = 550
IBM_price = 128

In [5]:
# Divide the account balance by Amazon stock price and place the answer in units
units = account_balance/IBM_price
units

4.296875

MINI CHALLENGE #2:
- Write a code that takes in APPLE (AAPL) stock prices at two days and calculate the return:
  - AAPL price on day 1 = \$135
  - AAPL price on day 2 = \$150

In [2]:
AAPL_day_1 = 135
AAPL_day_2 = 150  
AAPL_return = AAPL_day_2 - AAPL_day_1
AAPL_return_percentage = AAPL_return/135 * 100
AAPL_return_percentage

11.11111111111111

# TASK #3: UNDERSTAND PRINT AND INPUT OPERATIONS

In [3]:
# Print function is used to print elements on the screen
# Define a string x 
# A string in Python is a sequence of characters
# String in python are surrounded by single or double quotation marks
x = "Welcome to Rhyme's guided project in python"

In [4]:
print(x)

Welcome to Rhyme's guided project in python

In [5]:
# Obtain the data type for 'x'
type(x)

str

In [7]:
# The format() method formats the specified value and insert it in the placeholder
# The placeholder is defined using curly braces: {}
company_name = "Apple"
shares = 500
print("I own {} shares at {}".format(shares,company_name))

I own 500 shares at Apple

In [14]:
# input is a built-in function in python
# Obtain client data such as name, country and e-mail and print them all out on the screen
name  = input("Welcome to the store, please enter your name:")
country = input("Enter your country:")
email = input("Enter your e-mail:")
# The output will be whatever information the user enters in the input space

Welcome to the store, please enter your name:Paul
Enter your country:South Africa
Enter your e-mail:paulty407@gmail.com

In [15]:
name

'Paul '

In [16]:
country

'South Africa '

In [17]:
email

'paulty407@gmail.com '

In [18]:
print("My name is {}, I am from {}, and my email is {}".format(name,country,email))

My name is Paul , I am from South Africa , and my email is paulty407@gmail.com

MINI CHALLENGE #3:
- Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock. Find a sample expected output below:
  - Enter the price of the stock you want to buy: 3000  
  - Enter the number of stocks that you want to buy: 5
  - Enter the name of the stock that you want to buy: AMZN
  - The total funds required to buy 5 number of AMZN stocks at 3000 is: 15000

In [4]:
stock_price = input("Enter the price of the stock you want to buy:")
stock_price = int(stock_price) 
stock_quantity = input("Enter the number of stocks you want to buy:") 
stock_quantity = int(stock_quantity) 
stock_name = input("Enter the name of the stock you want to buy:") 
stock_funds_required = print("The total funds required to buy {} stocks of {} at {} is {}".format(stock_quantity,stock_name,stock_price,stock_price*stock_quantity) )
stock_funds_required

Enter the price of the stock you want to buy:618
Enter the number of stocks you want to buy:10
Enter the name of the stock you want to buy:Netflix
The total funds required to buy 10 stocks of Netflix at 618 is 6180

# TASK #4: UNDERSTAND LISTS DATA TYPES

In [4]:
# A list is a collection which is ordered and changeable. 
# List allows duplicate members.
grocery_list = ["oranges","apples","bananas"]
grocery_list

['oranges', 'apples', 'bananas']

In [5]:
# Obtain the datatype
type(grocery_list)

list

In [6]:
# Access specific elements in the list with Indexing
# Note that the first element in the list has an index of 0 (little confusing but you'll get used to it!)
grocery_list[1]

'apples'

MINI CHALLENGE #4:
- Print the first, second and last element in the list below

```
grocery_list = ['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']

```

In [10]:
grocery_list = ['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']
grocery_list 
new_grocery_list = [grocery_list[0],grocery_list[1],grocery_list[5]] 
new_grocery_list

['milk', 'rice', 'water']

In [12]:
grocery_list[1]

'rice'

In [13]:
grocery_list[5]

'water'

In [14]:
grocery_list[-1]

'water'

In [11]:
grocery_list[0]

'milk'

# TASK #5: UNDERSTAND COMPARISON OPERATORS AND CONDITIONAL STATEMENTS

In [15]:
# Comparison Operator output could be "True" or "False"
# Let's cover equal '==' comparison operator first
# It's simply a question: "Is x equals y or not?"
# "True" output means condition is satisfied 
# "False" output means Condition is not satisfied (condition is not true) 
x = 500 
y = 600 

x == y

False

In [16]:
x = 500
y = 500 

x == y

True

In [17]:
# Greater than or equal operator '>='

x = 20
y = 40  

x >= y

False

In [18]:
x = 60
y  = 40 

x >= y

True

In [20]:
# Note that '==' is a comparison operator 
# Note that '=' is used for variable assignment (put 10 in x)
x = 10

In [21]:
x

10

- A simple if-else statement is written in Python as follows:

```
if condition:
  statement #1
else:
  statement #2
```

- If the condition is true, execute the first indented statement
- if the condition is not true, then execute the else indented statements. 
- Note that Python uses indentation (whitespace) to indicate code sections and scope.

In [2]:
# Let's take an input from the user and grant or deny access accordingly
name = input("Enter your username:")

if name == "Ryan":
    print("Access granted")
else:
    print("Access denied")

Enter your username:Ryan
Access granted

In [4]:
x = int(input("Please enter an integer from 1 to 1000:"))

if x % 2 == 0:
    print("Number is even")
else:
    print("Number is odd")

Please enter an integer from 1 to 1000:5
Number is odd

In [15]:
# MINI CHALLENGE number 5 

y = int(input("Please type a number -100 to 100:"))

if y > 0:
    print("Number is positive")
else:
    if y < 0:
        print("Number is negative")
    else:
        print("Number is zero")

Please type a number -100 to 100:0
Number is zero

MINI CHALLENGE #5:
- Write a code that takes a number from the user and indicates if it's positive or negative

# TASK #6: DEVELOP FUNCTIONS IN PYTHON

In [16]:
# Define a function that takes in two argument x and y and returns their multiplication 
def multiplication(x,y):
    return x*y

In [17]:
# Call the function
multiplication(5,6)

30

MINI CHALLENGE #6:
- Write a code that takes in three inputs from the user and calculate their sum

In [4]:
def sum(x,y,z):
    return x+y+z

In [6]:
sum(3,5,7)

15

In [7]:
num1 = int(input("Enter the first number:"))
num2 = int(input("Enter the second number:"))
num3 = int(input("Enter the third number:"))
sum(num1,num2,num3)

Enter the first number:3
Enter the second number:5
Enter the third number:7

15

# TASK #7: UNDERSTAND FOR AND WHILE LOOPS

In [2]:
# List of strings
grocery_list  = ["milk","rice","eggs","bread","orange","water"]
grocery_list

['milk', 'rice', 'eggs', 'bread', 'orange', 'water']

In [5]:
for i in grocery_list:
    print(i)

milk
rice
eggs
bread
orange
water

In [7]:
# Range() generates a list of numbers, which is used to iterate over with for loops.
# range() is 0-index based, meaning list indexes start at 0, not 1. 
# The last integer generated by range() is up to, but not including, last element. 
# Example: range(0, 7) generates integers from 0 up to, but not including, 7.

for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [8]:
# While loop can be used to execute a set of statements as long as a certain condition holds true.

i = 0 

while i <= 10: 
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9
10

MINI CHALLENGE #7:
- Write a code that displays numbers from 1 to 10 using for and while loops

In [1]:
# This is the code to display numbers from 1 to 10 using a for loop # 

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
i=1

while i in range(1,11):
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

# TASK #8: CAPSTONE PROJECT

Develop a guessing game that performs the following: 
- The system will automatically generate a random number between 1 and 100. 
- Users can insert any number between 1 and 100
- The program shall be able to compare the number generated by the system and the number that has been entered by the user. The program shall print out one of the following options to help the user improve their next guess:
    - You are right, great job!
    - Your guess is low, try again!
    - your guess is high, try again!

- The program exits when the user guess matches the number generated by the system

In [4]:
# This is a guessing developed by Siyabulela Tyaliti as part of his capstone project for the Python 101: Develop Your First Python Program guided project on Coursera #

In [2]:
import random 

randomly_generated_integer = random.randint(1,100)  

#This line of code is for telling the computer to generate a random integer from 1 to 100 # 

user_generated_integer = int(input("Enter your guess of an integer from 1 to 100:"))

#This line of code is for telling the computer that it should take user generated information which will be whatever integer the user enters in the input between 1 and 100 # 

print("The randomly generated number is {}".format(randomly_generated_integer))

print("The user generated number is {}".format(user_generated_integer))

while user_generated_integer != randomly_generated_integer:
    print("your guess is incorrect, try again, keep on trying and it will be correct eventually") 
    
    break 
    
if user_generated_integer == randomly_generated_integer:
    print("You win bragging rights, your guess is correct")
else:
        print("your guess is incorrect, try again, keep on trying and it will be correct eventually")

Enter your guess of an integer from 1 to 100:10
The randomly generated number is 63
The user generated number is 10
your guess is incorrect, try again, keep on trying and it will be correct eventually
your guess is incorrect, try again, keep on trying and it will be correct eventually

# EXCELLENT JOB

# MINI CHALLENGES SOLUTIONS

MINI CHALLENGE #1 SOLUTION:
- We defined a variable x and we assigned these 4 values listed below to it. Without executing any code cells, what will these lines of code generate?
- Verify your answer by executing the code cells

```
z = 1000
z = 2000
z = 5000
z = 6000
z
```

In [ ]:
# The output of this code is 5000
# Initially we put 1000 in z, then we overwrite it by placing 2000 in z, and then 5000 in z & finally 6000 in z
z = 1000
z = 2000
z = 5000
z = 6000
z

MINI CHALLENGE #2 SOLUTION:
- Write a code that takes in APPLE (AAPL) stock prices at two days and calculate the return:
  - AAPL price on day 1 = \$135
  - AAPL price on day 2 = \$150

In [ ]:
AAPL_price_1 = 135
AAPL_price_2 = 150

price_diff = AAPL_price_2 - AAPL_price_1
percentage_change = price_diff / AAPL_price_1 * 100

percentage_change

MINI CHALLENGE #3 SOLUTION:
- Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock. Find a sample expected output below:
  - Enter the price of the stock you want to buy: 3000  
  - Enter the number of stocks that you want to buy: 5
  - Enter the name of the stock that you want to buy: AMZN
  - The total funds required to buy 5 number of AMZN stocks at 3000 is: 15000

In [ ]:
x = input("Enter the price of the stock you want to buy: ")
x = int(x)
y = input("Enter the number of stocks that you want to buy: ")
y = int(y)
z = input("Enter the name of the stock that you want to buy: ")
print('The total funds required to buy {} number of {} stocks at {} is {}'.format(y,z,x, x*y))

MINI CHALLENGE #4 SOLUTION:
- Print the first, second and last element in the list below

```
grocery_list = ['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']

```

In [ ]:
grocery_list = ['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']
print(grocery_list[0])
print(grocery_list[1])
print(grocery_list[-1])

MINI CHALLENGE #5 SOLUTION:
- Write a code that takes a number from the user and indicates if it's positive or negative

In [ ]:
x = int(input("Please enter an integer: "))

if x < 0:
    print('Number is Negative')
elif x > 0:
    print('Number is Positive')
else:    
    print ('Number is zero')

MINI CHALLENGE #6 SOLUTION:
- Write a code that takes in three inputs from the user and calculate their sum

In [ ]:
def summation(x, y, z):
    return x + y + z

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

total = summation(num1, num2, num3)

print('Total balance = {}'.format(total))

MINI CHALLENGE #7 SOLUTION:
- Write a code that displays numbers from 1 to 10 using for and while loops

In [ ]:
i = 1
while (i < 11):
  print (i)
  i = i+1

In [ ]:
for i in range(1, 11):
    print(i)